/.angular
/node_modules
/src/assets
/browser/assets/config.json
/dist
/streams
/battery-env
/battery/battery_logs
/battery/battery_plots
**/__pycache__
/battery/battery_status_config.py
/scripts/video_config.sh
/nginx/secrets/